$Name : "skin-violet";
$mainColor: #622D71;
$borderBottomColor : #fd7100;
$buttonFontColor : #fff;
$menuFontColor: #fff;
$tabInActiveColor: #fff;
$tableRowEvenColor : lighten($mainColor,60%);
$tableAggregateColor: lighten($mainColor,50%);
$FontFamily : "Open Sans",Arial,Helvetica,Sans-Serif