<div class="modal-header dialog-header-confirm">
	<h4 class="modal-title">
		<span class="fa fa-file-text-o"></span> Column Selection
	</h4>
</div>
	
<div class="modal-body">
    <div class="button-holder">
        <ol class="breadcrumb">
            <li><button type="button" class="btn btn-default" ng-click="Load()">Load</button></li>
            <li><button type="button" class="btn btn-default" ng-click="Cancel()">Cancel</button></li>
        </ol>
    </div>
    <div direction="vertical" m-scrollbar m-scrollbar-height="200">
        <div class="col-md-12 column-selection"  id="column-selection" ng-model="columns">
            <div class="col-md-12 column-selection-row">
                <div class="col-md-2 padding-12">
                     <i style="cursor:pointer;" class="fa" ng-class="{ 'fa-square-o' : !check , 'fa-check-square-o' : check }" ng-click="checkAll()"></i>
                </div>
                <div class="col-md-6 padding-12">
                    &nbsp;
                </div>
             <!--   <div class="col-md-4 padding-12">
                    Group Seq No
                </div>-->
            </div>

            <div class="col-md-12 column-selection-row" ng-repeat="column in columns" ng-click="column.visible = !column.visible" >
                <div as-sortable-item-handle>
                    <div class="col-md-2 padding-12">
                        <i style="cursor:pointer;" class="fa" ng-class="{ 'fa-square-o' : !column.visible , 'fa-check-square-o' : column.visible }"></i>
                    </div>
                    <div class="col-md-6 padding-12">{{column.Label || column.Name}}</div>
                   <!-- <div class="col-md-4">
                        <input class="form-control" type="text" ng-model="column.GroupSeqNo" name="GroupSeqNo" />
                   
                    </div>-->

            </div>
        </div>
        <!--<table class="table table-hovered table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th style="width:30px;">
                        <i style="cursor:pointer;" class="fa" ng-class="{ 'fa-square-o' : !check , 'fa-check-square-o' : check }" ng-click="checkAll()"></i>
                    </th>
                    <th>&nbsp;</th>
                    <th style="width:60px;">Group Seq No</th>
                </tr>
            </thead>
            <tbody sv-root sv-part="columns">
                <tr ng-repeat="column in columns" ng-click="column.visible = !column.visible" sv-element>
                    <td style="width:30px;">
					    <i style="cursor:pointer;" class="fa" ng-class="{ 'fa-square-o' : !column.visible , 'fa-check-square-o' : column.visible }"></i>
                    </td>
                    <td>{{column.Label || column.Name}}</td>
                    <td style="width:60px;"><input class="form-control" type="text" ng-model="column.GroupSeqNo" name="GroupSeqNo" /></td>
                </tr>
            </tbody>

        </table>-->
    </div>
</div>

<style>
    .column-selection { overflow-x: hidden;}
    .column-selection-row { height: 42px;background-color: rgba(61, 106, 124, 0.15);border: 1px solid rgba(61, 106, 124, 0.2); }
    .column-selection .column-selection-row div:nth-child(1),
    .column-selection .column-selection-row div:nth-child(2) {
        border-right: 1px solid rgba(61, 106, 124, 0.2);
    }
    .column-selection .column-selection-row div:nth-child(3) { padding:5px; }
    .padding-12 { padding: 12px!important; }
</style>